@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #151d20;
  color: #fff;
  font-weight: 100;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

body a,
body .clickme {
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-weight: 100;
  margin: 0 24px;
  font-size: 14px;
  letter-spacing: 6px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body .top {
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
}

body .top .clickme {
  cursor: pointer;
  user-select: none;
}

body .top .clickme::-moz-selection, body .top .clickme::selection {
  background: none;
}

body .bottom {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

body .bottom .clients:hover + body .middle .whoAmI {
  display: none;
}

body .middle {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

body .middle .whoAmI {
  font-size: 50px;
  letter-spacing: 12px;
  padding: 30px 16px;
  line-height: 80px;
  display: block;
}

body .middle .list .responsive div.img img {
  display: none;
}

body .middle .list .responsive div.img img .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px){
  body .middle .list .responsive div.img img .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  body .middle .list .responsive div.img img .responsive {
    width: 100%;
  }
}

body .middle .list .responsive .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 414px) {
  body .top {
    text-align: center;
  }
  body .middle .whoAmI {
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  body a,
  body .clickme {
    font-size: 12px;
    line-height: 72px;
    letter-spacing: 3px;
    margin: 0 8px;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
  body .top {
    text-align: right;
  }
 
  body .middle .whoAmI {
    font-size: 28px;
    letter-spacing: 10px;
    line-height: 48px;
  }
 
  body a,
  body .clickme {
    font-size: 14px;
    line-height: 72px;
    letter-spacing: 5px;
    margin: 0 16px;
  }
}
