@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #151d20;
  color: #fff;
  font-weight: 100;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

body a,
body .clickme {
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-weight: 100;
  margin: 0 24px;
  font-size: 14px;
  letter-spacing: 6px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body .top .clickme {
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}

body .top .clickme::-moz-selection, body .top .clickme::selection {
  background: none;
}

body .top {
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
}

body .top button:focus {
  outline: none;
}

body .top .circCont {
  display: inline-block;
  margin-right: 17px;
}

body .top .circCont .circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
}

body .top .circCont .circle:after {
  width: 24px;
  height: 4px;
  background-color: #fff;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /*@include transform-origin(100%,100%);*/
}

body .top .circCont .circle:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: #fff;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  /*@include transform-origin(0%,0%);*/
}

body .top .circCont .circle[data-animation="xMarks"] {
  border: 0px solid white;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 0px 0px #fff inset;
  -webkit-box-shadow: 0px 0px 0px 0px #fff inset;
  box-shadow: 0px 0px 0px 0px #fff inset;
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}

body .top .circCont .circle[data-animation="xMarks"]:before, .circle[data-animation="xMarks"]:after {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}

body .top .circCont .circle[data-animation="xMarks"]:not(.xMarks):hover {
  -moz-box-shadow: 0px 0px 0px 6px #fff inset;
  -webkit-box-shadow: 0px 0px 0px 6px #fff inset;
  box-shadow: 0px 0px 0px 6px #fff inset;
}

body .top .circCont .circle[data-animation="xMarks"]:not(.xMarks):hover:before {
  -moz-transform: scale(0.7) rotate(45deg);
  -ms-transform: scale(0.7) rotate(45deg);
  -webkit-transform: scale(0.7) rotate(45deg);
  transform: scale(0.7) rotate(45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

body .top .circCont .circle[data-animation="xMarks"]:not(.xMarks):hover:after {
  -moz-transform: scale(0.7) rotate(-45deg);
  -ms-transform: scale(0.7) rotate(-45deg);
  -webkit-transform: scale(0.7) rotate(-45deg);
  transform: scale(0.7) rotate(-45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

body .top .circCont .circle.xMarks {
  -moz-transition: -moz-transform 400ms ease-out, opacity 200ms ease-in;
  -o-transition: -o-transform 400ms ease-out, opacity 200ms ease-in;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 200ms ease-in;
  transition: transform 400ms ease-out, opacity 200ms ease-in;
  -moz-transition-delay: opacity 100ms;
  -o-transition-delay: opacity 100ms;
  -webkit-transition-delay: opacity 100ms;
  transition-delay: opacity 100ms;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -moz-box-shadow: 0px 0px 0px 20px #fff inset;
  -webkit-box-shadow: 0px 0px 0px 20px #fff inset;
  box-shadow: 0px 0px 0px 20px #fff inset;
}

body .top .circCont .circle.xMarks:before {
  background-color: white;
  -moz-transform: scale(2) rotate(45deg);
  -ms-transform: scale(2) rotate(45deg);
  -webkit-transform: scale(2) rotate(45deg);
  transform: scale(2) rotate(45deg);
}

body .top .circCont .circle.xMarks:after {
  background-color: white;
  -moz-transform: scale(2) rotate(-45deg);
  -ms-transform: scale(2) rotate(-45deg);
  -webkit-transform: scale(2) rotate(-45deg);
  transform: scale(2) rotate(-45deg);
}

body .bottom {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

body .bottom .clients, .cheesyart {
  text-decoration: line-through;
}

body .bottom .clients:hover + body .middle .whoAmI {
  display: none;
}

body .middle {
  width: 100%;
  position: absolute;
  top: 50%;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

body .middle .image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}
.image img {
  max-width: 100%;
}
.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
}
.break {
  display: none;
}
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}

body .middle .whoAmI {
  font-size: 50px;
  letter-spacing: 12px;
  padding: 30px 16px;
  line-height: 80px;
  display: block;
}

@media only screen and (max-width: 414px) {
  body .top {
    text-align: center;
  }
  body .middle .whoAmI {
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 36px;
  }
  body a,
  body .clickme {
    font-size: 12px;
    line-height: 72px;
    letter-spacing: 3px;
    margin: 0 8px;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
  body .top {
    text-align: right;
  }
 
  body .middle .whoAmI {
    font-size: 28px;
    letter-spacing: 10px;
    line-height: 48px;
  }
 
  body a,
  body .clickme {
    font-size: 14px;
    line-height: 72px;
    letter-spacing: 5px;
    margin: 0 16px;
  }
}